body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

.navbar {
  background: rgb(42, 56, 83);
  padding: 10px 15px;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #a7c5d1;
}

.hero {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 0;
  padding: 80px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text h1 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 20px;
  color: #475569;
  margin-top: 0;
  max-width: 420px;
}

.hero-image img {
  width: 320px;
  border-radius: 90%;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.hero-image img:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 30px 60px rgba(0,0,0,0.25);
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  padding: 80px 10%;
  background-color: #ffffff;
}

.about-content {
  max-width: 520px;
}

.about-content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-content h4 {
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 15px;
  color: #333;
}

.about-content p {
  font-size: 0.95rem;
  line-height: 1.7;
  color: #555;
  margin-bottom: 15px;
}

.about-image img {
  max-width: 380px;
  height: auto;
}

.about-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.skills {
  margin-top: 80px;
  text-align: center;
}

.skills h3 {
  font-size: 1.8rem;
  margin-bottom: 50px;
  position: relative;
}

.skills h3::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #38366c;
  display: block;
  margin: 10px auto 0;
}

.skills-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.skill {
  max-width: 300px;
  margin: auto;
}

.skill img {
  width: 55px;
  margin-bottom: 15px;
}

.skill h4 {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.contact {
  background: rgb(65, 76, 99);
  padding: 10px 10px;
  text-align: center;
}

.contact h2 {
  color:#e2eaf4;
  font-size: 32px;
  margin-bottom: 10px;
}

.contact-text {
  color: #e2eaf4;
  margin-bottom: 40px;
  font-size: 16px;
}


.contact-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.contact-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #f7faff;
  font-weight: 500;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-links img {
  width: 32px;
}

.contact-links a:hover {
  transform: translateY(-5px);
  color: #838894;
}

.contact button {
  padding: 12px 28px;
  border-radius: 8px;
  border: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.contact button:hover {
  background-color: #666f89;
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 600px) {
  body {
    background-color: #e0f2fe;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
